managed/.config/nvim/autoload/*
managed/.config/coc/*
Dockerfile
makefile
managed/zsh/.zshrc.private
nvim/coc-settings.json
.DS_Store
package-lock.json
package.json
node_modules/
Session.vim
managed/.config/fish/fish_variables
